{% extends 'base.html' %}
{% load static %}
{% block title %}Service{% endblock %}
{% block content %}
  <section class="dentist-area section-padding-50-0">
   <center><h3 class="lead">Our Services</h3></center>
      </br>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <a href="#!"><img src="{% static 'img/d.jpg' %}" alt=""></a>
            </div>
            <h5>Dentistry</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <a href="#!"><img src="{% static 'img/c.png' %}" alt=""></a>
            </div>
            <h5>Cardiology</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <a href="#!"><img src="{% static 'img/ent.png' %}" alt=""></a>
            </div>
            <h5>ENT Specialists</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <a href="#!"><img src="{% static 'img/o.jpg' %}" alt=""></a>
            </div>
            <h5>Oncology</h5>
            <p>Oncology is a branch of medicine that deals with the prevention, diagnosis, and treatment of cancer.</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <a href="#!"><img src="{% static 'img/b.jpg' %}" alt=""></a>
            </div>
            <h5>Neuroanatomy</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <a href="#!"><img src="{% static 'img/bs.jpg' %}" alt=""></a>
            </div>
            <h5>Blood Screening</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>
          <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <a href="#!"><img src="{% static 'img/e.jpg' %}" alt=""></a>
            </div>
            <h5>Eye Care</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>
          <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">

              <a href="#!"><img src="{% static 'img/phy.jpg' %}" alt=""></a>
            </div>
            <h5>Physical Therapy</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}